---
---

<section class="bg-light content-center justify-center">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="mx-auto max-w-screen-md sm:text-center">
			<iframe src="https://kekeday.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:#808080;" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</section>
